<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.DeviceMapper">    <!-- 使用sql标签可以将公共的sql提取出来复用 -->

    <sql id="queryFields">
        id , deviceId , deviceName
    </sql>
    <!--<select id="selectByID" parameterType="int" resultType="Device">select-->
        <!--<include refid="queryFields"/>-->
        <!--from `device` where id = #{id}-->
    <!--</select>-->
    <resultMap id="deviceMap" type="entity.Device">
        <id property="id" column="id" />
        <result property="deviceId" column="deviceId" />
        <result property="deviceName" column="deviceName" />
        <result property="devicePosition" column="devicePosition" />
        <result property="devicePriority" column="devicePriority" />
        <result property="deviceStatus" column="deviceStatus" />
        <association property="shadeGroups" javaType="java.util.List"
                     select="selectById" column="deviceId">

        </association>
        <!--<collection property="shadeGroups" ofType="entity.shadeGroup">-->
            <!--<id property="groupId" column="groupId" />-->
            <!--&lt;!&ndash;<result property="groupId" column="groupId" />&ndash;&gt;-->
            <!--<result property="groupName" column="groupName" />-->
        <!--</collection>-->
    </resultMap>

    <select id="queryAll" resultMap="deviceMap">
        SELECT * FROM device WHERE isShow=1
    </select>

    <select id="selectByDeviceId" parameterType="int" resultMap="deviceMap">
        SELECT * FROM device WHERE deviceId=#{id}
    </select>
    
    <!--<select id="selectById" parameterType="int" resultType="entity.ShadeGroup">-->
        <!--SELECT * FROM devicegrouprelation r INNER JOIN  devicegroup g on r.deviceGroupId=g.groupId-->
      <!--WHERE r.deviceId=#{id}-->
    <!--</select>-->

    <select id="selectById" parameterType="int" resultType="entity.Device">
        SELECT * FROM device WHERE deviceId=#{id}
    </select>

    <!--<insert id="insert" parameterType="entity.Device" useGeneratedKeys="true" keyProperty="id">-->
        <!--INSERT INTO device (deviceId,deviceName,devicePosition,devicePriority,deviceStatus) values (#{deviceId},#{deviceName},#{devicePosition},#{devicePriority},#{deviceStatus})-->
    <!--</insert>-->

    <insert id="insert" parameterType="entity.Device" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO device (deviceId,deviceName,mac,modelName,version,remarks)
        values (#{deviceId},#{deviceName},#{mac},#{modelName},#{version},#{remarks})
    </insert>

    <insert id="batchInsert" parameterType="java.util.List">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO device (deviceId,deviceName,mac,modelName,version,remarks)
        values
        <foreach collection="list" item="device" index="index" separator=",">
            (#{device.deviceId},#{device.deviceName},#{device.mac},#{device.modelName},#{device.version},#{device.remarks})
        </foreach>
    </insert>

    <!--<insert id="batchInsert" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">-->
        <!--INSERT INTO device (deviceId,deviceName,mac,modelName,version,remarks)-->
        <!--values-->
        <!--<foreach collection="list" item="device" index="index" separator=",">-->
            <!--(#{device.deviceId},#{device.deviceName},#{device.mac},#{device.modelName},#{device.version},#{device.remarks})-->
        <!--</foreach>-->
    <!--</insert>-->


    <update id="update" parameterType="entity.Device" >
        UPDATE device
        set deviceName=#{deviceName},
        mac=#{mac},
        modelName=#{modelName},
        version=#{version}
        <if test="isShow!=null">
            ,isShow=#{isShow}
        </if>

        WHERE deviceId=#{deviceId}
    </update>

    <delete id="delete" parameterType="int">
        UPDATE device
         set isShow=0
         WHERE deviceId=#{deviceId}
    </delete>
</mapper>
